* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
  background-color: #24292e;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

header {
  height: 150px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-family: "Permanent Marker", cursive;
  font-size: 40px;
  display: flex;
  justify-content: center;
  color: lightslategrey;
  text-align: center;
}

.form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

input[type="text"] {
  display: block;
  padding: 10px;
  font-size: 18px;
  border: 0;
  border-radius: 5px;
  width: 275px;
  margin: auto;
  outline: none;
}

.btn {
  display: block;
  color: #fff;
  background-color: lightslategrey;
  font-size: 1.2em;
  text-align: center;
  padding: 10px 15px;
  border: 0;
  border-radius: 5px;
  margin: 15px 0;
  font-weight: bold;
}

.btn:hover {
  background-color: lightsteelblue;
  cursor: pointer;
}

.data {
  text-align: center;
  align-items: center;
  margin: 20px auto;
}

.message {
  font-family: "Permanent Marker", cursive;
  font-size: 30px;
  display: flex;
  justify-content: center;
  color: lightslategrey;
  text-align: center;
  margin-top: 70px;
}

.grid {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name {
  font-size: 30px;
  text-transform: capitalize;
  margin: 15px 0;
}

.row {
  display: flex;
  flex-direction: row;
}

.row > img {
  width: 150px;
  height: auto;
}
